$pc: #45f3ff;
$err: #f06470;


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 20px;
  background: #23232e;
}


.box {
  position: relative;
  width: 380px;
  height: 560px;
  border-radius: 8px;
  background: #1c1c1c;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 560px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: infin 6s linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380px;
    height: 560px;
    background: linear-gradient(0deg, #45f3ff, #45f3ff, transparent);
    transform-origin: top left;
    animation: infin 6s linear infinite;
  }
}

@keyframes infin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



form {
  position: absolute;
  padding: 30px 40px;
  inset: 2px;
  background: #23232e;
  border-radius: 8px;
  z-index: 10;


  h2 {
    color: #45f3ff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.05em;
    font-size: 1.1em;
  }
}


.inputBox {
  position: relative;
  margin-top: 30px;
  width: 300px;

  input,
  textarea {
    padding: 20px 10px 10px;
    width: 100%;
    border-radius: 4px;
    border: none;
    background: transparent;
    font-size: 1em;
    outline: none;
    color: #23232e;
  }

  span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    color: #4e4e4e;
    font-size: 1em;
    font-weight: 600;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
  }

  i {
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 2px;
    border-radius: 4px;
    background: #45f3ff;
    width: 100%;
    transition: 0.5s;
    pointer-events: none;
    z-index: -1;
  }
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  transform: translateY(-34px);
  color: #45f3ff;
  font-size: 0.75em;
}

.inputBox input:valid~i,
.inputBox input:focus~i {
  height: 44px;
}

.inputBox textarea:valid~i,
.inputBox textarea:focus~i {
  height: 44px;
}

.inputBox textarea:valid~span,
.inputBox textarea:focus~span {
  transform: translateY(-34px);
  color: #45f3ff;
  font-size: 0.75em;
}



.btn {
  padding: 10px 20px;
  background: #45f3ff;
  border-radius: 4px;
  font-size: 1em;
 
}

.btn:active {
  opacity: 0.8;
}

.btn.full {
  box-shadow: 0 0 5px #45f3ff;
  transition: 0.25s;
}

.btnContainer {
  display: flex;
  margin: 35px auto;
}



.messError {
  font-size: 0.75em;
  color: $err;
  margin-top: 3px;
  letter-spacing: 0.05em;
}



.modal {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 20;
  animation: visibl 0.5s;
}
.content {
  display: flex;
  width: 320px;
  height: 150px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 200px auto;
  padding: 10px 20px;
  background: #23242e;
  border-radius: 8px;
  color: #45f3ff;
  font-weight: 600;
  border: 2px solid #45f3ff;
  animation: visibl 0.5s;
 button {
  margin-top: 30px;
 }
}
@keyframes visibl {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}